<footer class="footer hero is-dark is-bold has-text-grey-lighter" id="footer">
  <div class="container">
    <div class="columns is-8 is-variable is-centered">
        <div class="column is-narrow" style="padding-left:0">
            <ul>
                <li><strong>Tooloop</strong> by <a href="https://vollstock.de" class="has-text-danger">Daniel Stock</a></li>
                <li><a href="https://twitter.com/vollstock">@vollstock</a></li>
            </ul>
        </div>
        <div class="is-divider-vertical is-hidden-mobile" data-content=""></div>
        <hr class="is-hidden-tablet">
        <div class="column is-narrow">
            <ul class="icon-list">
                <li><i class="fab fa-github"></i> <a href="https://github.com/vollstock/Tooloop-OS">Tooloop OS</a></li>
                <li><i class="fab fa-github"></i> <a href="https://github.com/vollstock/Tooloop-Examples">Example Apps</a></li>
                <li><i class="fab fa-github"></i> <a href="https://github.com/vollstock/Tooloop-Settings-Server">Settings Server</a></li>
                <li><i class="fab fa-github"></i> <a href="https://github.com/vollstock/Tooloop-Website">Website</a></li>
            </ul>
        </div>
    </div>
  </div>
</footer>